{% extends 'base.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center vh-100 align-items-center">
        <div class="col-xl-9 col-lg-10 col-md-11 col-sm-12">
            {% if error is defined and error is not empty %}
                <h3 class="text-center">{{ error }}</h3>
            {% else %}
                <h3 class="text-center">Not found!</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

